# Prevent build from appearing in github diff's 
# https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
dist/** -diff linguist-generated=true 

# Control the archive attached to releases
# https://git-scm.com/docs/gitattributes#_creating_an_archive
* export-ignore

package.json -export-ignore
README.md -export-ignore
LICENSE -export-ignore
action.yml -export-ignore

dist/** -export-ignore
dist -export-ignore

